<div class="row my-5">
    <div class="col-md-10 offset-md-1">

        <div class="row  p-0   border-2 border-secondary border-opacity-10  border-top">
            <div class="col-md-4 mt-5 order-sm-2">
                <img src="/website/assets/img/1.jpg" alt="Walter white" class="rounded-circle img-fluid">
            </div>

            <div class="col-md-8 mt-5 p-0 order-sm-1 d-flex flex-column justify-content-center">
                <h2>
                    <p class="d-inline-flex">This First Heading</p>
                    <p class="text-secondary d-inline">Will Catch Your Eye</p>
                </h2>
                <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has
                    been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of
                    type
                    and
                    scrambled it to make a type specimen book.</p>
            </div>


        </div>

    </div>
</div>