<!-- your html code here -->
<div class="row my-5">
    <div class="col-md-10 offset-md-1">
        <h2>Porfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae atque eligendi beatae? Unde quia aliquid sit accusantium, error animi repellat quis hic dignissimos praesentium eos eius fugit reprehenderit cupiditate optio.</p>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="http://via.placeholder.com/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="http://via.placeholder.com/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="http://via.placeholder.com/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>

          </div>

    </div>
</div>